PB124_DATA_DIR=./data
PB124_JWT_SECRET=CHANGE_ME
PB124_MERI_USERNAME=meri
PB124_MERI_PASSWORD=
PB124_JUAN_USERNAME=juan
PB124_JUAN_PASSWORD=
PB124_ARCHIVE_TOKEN=
PB124_PUBLIC_BASE_URL=
PB124_ALLOWED_ORIGINS=
